
     
        <nav class="navbar navbar-dark bg-dark align-item-center navbar-expand-md">
         <p class="my-auto navbar-brand"><a href="/"><img class="mx-4" width=35 src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Department_of_Tourism_%28DOT%29.svg/1200px-Department_of_Tourism_%28DOT%29.svg.png" alt=""></a>  DEPARTMENT OF TOURISM</p>
         <button class="navbar-toggler" data-toggle="collapse" data-target="#hehe">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class=" collapse navbar-collapse"  id="hehe">
          <ul class="navbar-nav">
            <li>
              <a class="nav-link" href="/about">About</a>
            </li>
            <li>
              <a class="nav-link" href="/contacts">Contacts</a>
            </li>
          </ul>

           <!-- <div class="navbar-nav  d-flex flex-row ">
            <a class="p-3 btn nav-link" href="#">sds</a>
            <a class=" p-3 btn nav-link" href="#">sds</a>
            <a class=" p-3 btn nav-link" href="#">sds</a>   
          </div> -->
         </div>
        </nav>
     
      


  