      <div class="bg-dark navbar-dark">
       <div class="container-fluid">
        <nav class="navbar align-item-center navbar-expand-md">
          <p class="my-auto navbar-brand"><a href="/"><img class="mr-3" width=45 src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Department_of_Tourism_%28DOT%29.svg/1200px-Department_of_Tourism_%28DOT%29.svg.png" alt=""></a>  DEPARTMENT OF TOURISM</p>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#hehe">
             <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse mb-2 navbar-collapse"  id="hehe">
             <div class=" ml-auto ">
               <ul class="navbar-nav">
                <li class="nav-item d-flex justify-content-center">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item d-flex justify-content-center" >
                  <a class="nav-link" href="/about">About</a>
                 </li>
                 <li class="nav-item ">
                 <a class="btn btn-outline-warning text-warning nav-link" href="/login">Log-in</a>
                 </li>
               </ul>
             </div>
          </div>
         </nav>

          <!-- Register modal -->
         <div class="modal fade" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <div class="modal-dialog  modal-dialog-centered d-flex justify-content-center" role="document" >
            <div class="modal-content w-75 ">

                  <div class="card card-outline-secondary">
                    <div class="card-header">
                       <button class="btn float-right btn-sm btn-outline-dark" data-dismiss="modal" type="button">&times;</button>
                       <h3 class="mb-0">Register</h3>
                    </div>
                    <div class="card-body">
                     <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form">
                        <div class="form-group">
                          <label for="uname1">Name</label>
                          <input class="form-control" id="uname1" name="uname1" required="" type="text">
                        </div>
                        <div class="form-group">
                          <label for="uname1">Username</label>
                          <input class="form-control" id="uname1" name="uname1" required="" type="text">
                        </div>
                        <div class="form-group">
                          <label>Password</label>
                          <input autocomplete="new-password" class="form-control" id="pwd1" required="" type="password">
                        </div>
                        <div class="form-group">
                          <label for="emailadd">Email Address</label>
                          <input class="form-control" id="emailadd" name="uname1" required="" type="text">
                        </div>
                            <button class="btn btn-success btn-lg float-right" type="button">Register</button>
                     </form>
                    </div>
                  </div>
            </div>
          </div>
        </div>

        <!-- lOGIN Modal -->

        </div>

       </div>
