<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
   rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
   integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>Document</title>
</head>
<body >
   <div class="col-md-9 col-lg-5 col-sm-9 d-flex mx-auto mt-5 pt-5 justify-content-center  align-items-center " >
     <div class="col-sm-8 mt-5">
       <div class="card card-outline-secondary">
         <div class="card-header bg-secondary text-light">
            <h3 class="mb-0">Login</h3>
         </div>
         <div class="card-body">
          <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form">
             <div class="form-group">
               <label for="uname1">Username</label>
               <input class="form-control" id="uname1" name="uname1" required="" type="text">
             </div>
             <div class="form-group">
               <label>Password</label>
               <input autocomplete="new-password" class="form-control" id="pwd1" required="" type="password">
             </div>
             <div class="form-check small">
               <label class="form-check-label">
                 <span>Already registred?  <a class=""  data-dismiss="modal"  data-toggle="modal" href="#" data-target="#registermodal">Here</a></span>
               </label>
             </div>
                 <button class="btn btn-success btn-lg float-right" type="button">Login</button>
          </form>
         </div>
       </div>
     </div>
   </div>

   <div class="modal fade" id="registermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog  modal-dialog-centered d-flex justify-content-center" role="document" >
      <div class="modal-content w-75 ">

            <div class="card border-0 m-0 p-0">
              <div class="card-header bg-secondary text-light">
                 <button class="btn float-right btn-sm btn-outline-dark" data-dismiss="modal" type="button">&times;</button>
                 <h3 class="mb-0">Register</h3>
              </div>
              <div class="card-body">
               <form autocomplete="off" class="form" id="formLogin" name="formLogin" role="form">
                  <div class="form-group">
                    <label for="uname1">Name</label>
                    <input class="form-control" id="uname1" name="uname1" required="" type="text">
                  </div>
                  <div class="form-group">
                    <label for="uname1">Username</label>
                    <input class="form-control" id="uname1" name="uname1" required="" type="text">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input autocomplete="new-password" class="form-control" id="pwd1" required="" type="password">
                  </div>
                  <div class="form-group">
                    <label for="emailadd">Email Address</label>
                    <input class="form-control" id="emailadd" name="uname1" required="" type="text">
                  </div>
                      <button class="btn btn-success btn-lg float-right" type="button">Register</button>
               </form>
              </div>
            </div>
      </div>
    </div>
 </div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>
