

.bg {
   background-image: url("../images/bg.jpg");
   height: 90%;
 background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

}

body, html {
   height: 90%;
}

.mak {


}
